.banner {
  background-color: rgb(74, 120, 207);
  color: white;
  padding-left: 1rem;
}
.bannerHeader {
  min-height: 4rem;
  font-size: 2rem;
  vertical-align: middle;
  margin-top: 0.5px;
  padding-top: 4px;
}

.bannerfooter {
  font-size: 0.8rem;
  background-color: rgb(74, 120, 207);
  min-height: 2rem;
  text-align: center;
  margin-bottom: 1px;
}
